canvas {
    margin: 20px 0;
    background-color: rgb(31, 14, 99);
}

#container {
    text-align: center;
}

body {
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    margin: 0;
}

h1 {
    margin-top: 30px;
    color: rgb(20, 20, 20);
}

h2 {
    color: rgb(64, 64, 64);
}
